.vscode/
imported_sites.txt
instance_list.txt
database
files
cert
dev_cert
vars.sh
credentials.netrc
*.DS_STORE
local_vars.py
app.log
*.crt
*.pem
instance_list.txt
secrets.json
settings.php
config.php
template_testing.py
instance_list.txt
__pycache__

