"""Local Variables for Walnut."""

IDENTIKEY = ''

USER_PASSWORD = ''

# Organization ID that instances will be tied to
ORG = ''

# Upstream ID, used to create new sites
UPSTREAM_ID = ''

WALNUT_TOKEN = ''